name: Build and Deploy Documentation

on:
  push:
    branches:
      - main  
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Build and lint the project
        id: build-lean
        uses: leanprover/lean-action@v1

      - name: Build project documentation
        id: build-docgen
        uses: leanprover-community/docgen-action@main
        with:
          build-page: false
          
